@charset "UTF-8";
/* CSS Document */

/*----------------------
 >>> TABLE OF CONTENTS: 
1.0 - Typography
  1.1 - Headings
  1.2 - Body Copy
  1.3 - Buttons
  1.4 - Forms
  1.5 - Lists
  1.6 - Tables
2.0 - Navigation Menus
  2.1 - Main
3.0 - Content
  3.1 - Site Structure
  3.2	- Site Header
  3.3	- Site Footer
4.0 - Media
5.0 - Utility
  5.1 - Text Sizes
  5.2 - Colors
  5.3 - Alignments
-------------------------*/

* {
	font-family: Arial;
	font-weight: 500;
	-o-box-sizing: border-box; 
	-ms-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box; 
	box-sizing: border-box;
}

.wrapper {
	margin: 0 auto;
	width: 1170px;
}

.row {
	overflow: auto;
}

/*==============================*/

/*===== 1.0 - Typography =====*/

/*===== 1.1 - Headings =====*/

h1 {
	color: #432920;
	font-weight: 100;
	text-transform: uppercase;
	background-color: rgba(250,250,250,.9);
	width: 1030px;
	font-size: 48px;
	padding: 10px 20px;
}

h2 {
	text-transform: uppercase;
	font-weight: 100;
	font-size: 36px;
	color: #fff;
	padding-top: 30px;
	text-align: center;
}


h3, h4, h5 {
	text-transform: uppercase;
	font-weight: 100;
	text-align: center;
}

#about h2 {
	color: #432920;
	padding-right: 858px;
	margin-bottom: 0;
}

h4 {
	color: #98E3D9;
}

#products h3 {
	color: #fff;
}

#flavors h2 {
	color: #E5B1B1;
}
/*===== 1.2 - Body Copy =====*/

.items, #gbrv, #cl {
	width: 280px;
	text-align: center;
	font-weight: 100;
	float: left;
	margin-right: 16px;
	padding-bottom: 50px;
}

#bckrnd-info p {
	color: #432920;
	font-weight: 100;
}

#bckrnd-info p:nth-child(3) {
	padding-bottom: 60px;
}

#about header, #products header {
	text-align: center;
}



/*===== 1.3 - Buttons/Hover Text =====*/

#about a:hover {
	color: #77E5E6;
	border-bottom: 1px solid #77E5E6;
}

#about p:last-child a {
	color: #77E5E6;
	padding: 15px 50px;
	border: solid;
	
}

#about p:last-child a:hover {
	background-color: #77E5E6;
	color: #fff;
	text-decoration: underline #fff;
}

#signature a, #allergen a, #vegan a {
	color: #fff;
	border: solid;
	padding: 15px 40px;
}

#signature a:hover, #allergen a:hover, #vegan a:hover {
	color: #77E5E6;
	background-color: #fff;
	text-decoration: underline #77E5E6;
	 
}

/*===== 1.4 - Forms =====*/

legend {
	display: none;
}

fieldset {
	margin: 0 auto;
	width: 740px;
	border: none;
}

input, select {
	display: block;
	padding: 5px 40px;
	border: none;
	margin: 10px 0;
}

#right-form {
	margin-right: 0;
}

#left-form, #right-form {
	float: left;
	margin-right: 150px;
}

label, form p {
	color: #fff;
	text-transform: uppercase;
	font-weight: 100;
	font-size: 12px;
}

/*===== 1.5 - Lists =====*/

li {
	display: inline-block;
	padding-left: 50px;
	padding-bottom: 10px;
}

ul {
	margin-bottom: 0;
}

/*===== 1.6 - Tables =====*/

thead {
	text-transform: uppercase;
	font-size: 18px;
	border-bottom: solid 1px #fff;
}

th, td {
	font-weight: 100;
	padding: 10px 40px;
	
}

caption {
	display: none;
}

table {
	color: #fff;
	text-align: center;
	padding: 20px 90px 10px;
	margin: 0 auto;
}

#contact-us {
	background-color: #E5B1B1;
}

/*===== 2.0 - Navigation Menus =====*/

/*===== 2.1 - Main =====*/

a {
	text-decoration: none;
	text-transform: uppercase;
	color: #432920;
}

a:hover {
	border-bottom: solid 1px #fff;
	color: #fff;
}

nav {
	background-color: #E5B1B1;
	text-align: right;
}


/*===== 3.0 - Content =====*/



/*===== 3.1 - Site Structure =====*/

#hero header {
	text-align: center;
	padding-top: 250px;
    margin-left: 60px;
}

#spec-bake h2 {
	color: #E5B1B1;
}

#products {
	background-color: #98E3D9;
}

#bckrnd-info {
	float: left;
	width: 650px;
	margin: 20px 0 0 90px;
	line-height: 30px;
}

#hours {
	float: right;
	margin-right: 175px;
}

nav div {
	text-align: left;
	padding-top: 15px;
	padding-left: 20px;
}

#allergen, #signature, #vegan {
	float: left;
	width: 285px;
	text-align: center;
	color: #093250;
	padding-top: 50px;
	padding-bottom: 50px;
}

#vegan {
	float: right;
}

#signature p, #allergen p, #vegan p {
	padding-bottom: 20px;
}

#allergen {
	margin-left: 150px;
	
}

.items, #gbrv, #cl {
	width: 280px;
	text-align: left;
	font-weight: 100;
	float: left;
	margin-right: 16px;
	padding-bottom: 50px;
}

#gbrv, #cl {
	float: right;
	margin-right: 0;
}

/*===== 3.2	- Site Header =====*/

#hero {
	background: url(../img/hero.jpg) bottom center no-repeat;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
	height: 600px;
}

/*===== 3.3	- Site Footer =====*/

footer {
	background-color: #432920;
}

/*===== 4.0	- Images =====*/
.cupcakes {
	-moz-border-radius: 175px;
	-ms-border-radius: 175px;
	-o-border-radius: 175px;
	-webkit-border-radius: 175px;
	border-radius: 175px;
}

.cpck-row {
	margin-left: 40px;
	padding-top: 40px;

}

